.App {
  text-align: center;
}

h1 {
  color: white;
  font-family: fantasy;
}

.header-title {
  text-align: center;
  height: 5vh;
}

main {
  background-color: black;
}

body {
  background-color: black;
}
.loading-message {
  text-align: center;
}
