.single-movie > img {
    width: 100vw;
    height: 70vh;
    /* border-radius: 1.5em; */
    margin: 1.5vh;
    box-shadow: 1px 1px 10px 5px rgba(246, 242, 242, 0.423);
}

.single-movie {
    background-color: black;
    background-size: cover;
    font-size: 2vh;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    height: 95vh;
    text-shadow: #000000 1px 0 10px;
}