.single-movie > img {
    width: 100vw;
    height: 70vh;
    /* border-radius: 1.5em; */
    margin: 1.5vh;
    box-shadow: 1px 1px 10px 5px rgba(246, 242, 242, 0.423);
}

.single-movie {
    background-color: black;
    background-size: cover;
    font-size: 2vh;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 95vh;
    text-shadow: #000000 1px 0 10px;
}

.movie-details {
    text-align: center;
}

.single-movie-button {
    margin-left: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
}

.single-movie-button:hover {
        scale: 1.1;
        background-color: lightgray;
        border-radius: 8px;
      
}